@tailwind base;
@tailwind components;
@tailwind utilities;

.active-link {
  @apply text-[#1E1E1E];
}

body {
  font-family: "Inter", sans-serif;
}

.active-pagination-number {
  @apply bg-amber-dark;
  @apply text-white;
}
.scrollbar-hide {
  scrollbar-width: none;
}
i {
  line-height: 0 !important;
}
